$borderColor: brown;
$bkgdColor: rgb(226, 196, 160);
$frameBkgdColor: palegoldenrod;
$btnColor: rgb(203, 47, 47);
$frameHoverColor: rgb(240, 192, 200);

/*
$borderColor: rgb(205, 36, 36);
$bkgdColor: rgb(226, 196, 160);
$frameBkgdColor: palegoldenrod;
$btnColor: rgb(203, 47, 47);
$frameHoverColor: rgb(240, 192, 200);
*/