// variables.scss
@use "variables" as vars;

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: vars.$bkgdColor;
  font-family: arial;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 50rem;
  margin: 1rem auto;
  
}

.bowlers:first-of-type {
  margin-top: 2rem;
}

.left-align {
  text-align: left;
}

.bowler {
  width: 100%;
  margin: 2rem auto;
}

.bowlerName {
  width: 15rem;
}

@mixin bowlingFrameMixin() {
    margin-right: 0rem;
    border: 0.2rem solid vars.$borderColor;
    background-color: vars.$frameBkgdColor;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: vars.$frameHoverColor;
    }
}

.bowlingFrames {
  display: flex;
  margin-top: .5rem;
}

.bowlingFrame {
  @include bowlingFrameMixin;
}

.scoreFrames {
  display: flex;
}

.scoreFrame {
  margin-right: 0rem;
  border: 0.2rem solid vars.$borderColor;
  background-color: vars.$frameBkgdColor;
  width: 3.9rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0;
  margin-left: 1rem;
}

.bowlingFrame:nth-of-type(odd) {
  border-left: 0.2rem solid vars.$borderColor;
  margin-left: 1rem;
}

.bowlingFrame:nth-of-type(even) {
  border-left: 0;
}

.bowlingFrame:first-of-type,
.scoreFrame:first-of-type
{
  margin-left: 0;
}

.bowlingFrame:last-of-type {
  border-left: 0;
  margin-left: 0;
}

.scoreFrame:last-of-type {
  width: 5.9rem;
}