// variables.scss
@use "variables" as vars;

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: vars.$bkgdColor;
  font-family: arial;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 50rem;
  margin: 5rem auto;
}

.left-align {
  text-align: left;
}

.bowlers {
  display: flex;
  flex-direction: column;
}

.bowlers:first-of-type {
  margin-top: 2rem;
}

.bowler {
  width: 15rem;
}

@mixin bowlingFrame() {
  border: 0.2rem solid vars.$borderColor;
  margin: 1rem;
  margin-right: 0.1rem;
  background-color: vars.$frameBkgdColor;
  width: 4rem;
  height: 2rem;

  &:hover {
    background-color: vars.$frameHoverColor;
  }
}

.bowlingFrames1, .bowlingFrames2 {
  display: flex;
}

.bowlingFrame {
  @include bowlingFrame;

  &--10 {
    @extend .bowlingFrame; //no left curly brace should be on the same line as the @extend
    width: 8rem;
  }
}

.bowlingFrame:first-of-type {
  margin-left: 0;
}

.frames {
  border-right: 0.2rem solid vars.$borderColor;
  width: 1.8rem;
  height: 1.8rem;

  &--10 {
    @extend .frames;
    width: 3.6rem;
  }
}
